*{box-sizing:border-box;font-family:Segoe UI,Tahoma}
body{margin:0;background:#0b0014;color:#eee}

.layout{display:flex;min-height:100vh}

/* SIDEBAR */
.sidebar{
  width:220px;
  background:#0f0020;
  padding:20px;
  border-left:1px solid #3b1a6a
}
.sidebar h2{color:#b66bff;margin-bottom:20px}
.menu button{
  width:100%;
  margin-bottom:10px;
  padding:12px;
  background:#160024;
  border:1px solid #3b1a6a;
  color:#fff;
  cursor:pointer;
  border-radius:8px;
}
.menu button:hover{background:#1e0033}

/* CONTENT */
.content{flex:1;padding:30px}
h1{margin-top:0}

/* STATS */
.stats{display:flex;gap:20px}
.card{
  background:#160024;
  padding:20px;
  border-radius:12px;
  border:1px solid #3b1a6a;
  min-width:120px;
  text-align:center
}
.card span{font-size:26px;color:#b66bff}

/* ADD PRODUCT */
.add-box{
  max-width:400px;
  background:#160024;
  padding:15px;
  border-radius:12px;
  border:1px solid #3b1a6a;
  margin-bottom:20px
}
.add-box input,
.add-box textarea{
  width:100%;
  margin-bottom:10px;
  padding:10px;
  background:#0b0014;
  border:1px solid #3b1a6a;
  color:#fff;
  border-radius:6px
}
.add-box button{
  width:100%;
  padding:10px;
  background:#b66bff;
  color:#000;
  border:none;
  border-radius:8px;
  cursor:pointer
}

/* LISTS */
.item{
  background:#160024;
  border:1px solid #3b1a6a;
  border-radius:10px;
  padding:12px;
  margin-bottom:10px
}

.hidden{display:none}
