*{box-sizing:border-box;font-family:Segoe UI,Tahoma}
body{margin:0;background:#0b0014;color:#eee}

.layout{display:flex;min-height:100vh}

/* SIDEBAR */
.sidebar{
  width:220px;
  background:#0f0020;
  padding:20px;
  border-left:1px solid #3b1a6a
}
.sidebar h2{color:#b66bff;margin-bottom:20px}
.sidebar button{
  width:100%;
  padding:12px;
  background:#160024;
  border:1px solid #3b1a6a;
  color:#fff;
  border-radius:8px;
  cursor:pointer
}

/* CONTENT */
.content{flex:1;padding:30px}
h1{margin-top:0}

/* FORM */
form{
  max-width:420px;
  background:#160024;
  padding:15px;
  border-radius:12px;
  border:1px solid #3b1a6a;
}
form input, form textarea{
  width:100%;
  margin-bottom:10px;
  padding:10px;
  background:#0b0014;
  border:1px solid #3b1a6a;
  color:#fff;
  border-radius:6px
}
form button{
  width:100%;
  padding:10px;
  background:#b66bff;
  color:#000;
  border:none;
  border-radius:8px;
  cursor:pointer
}

/* PRODUCT ITEM */
.product{
  margin-top:15px;
  padding:12px;
  background:#160024;
  border:1px solid #3b1a6a;
  border-radius:10px
}
.product img{
  width:80px;
  height:60px;
  object-fit:cover;
  margin-right:6px;
  border-radius:6px
}
